# set 1

In [1]:
r = float(input("Enter radius : "))
area = float(3.14*r*r)
print("Area of Circle with Radius ", r, " is : ", area)

Enter radius : 5
Area of Circle with Radius  5.0  is :  78.5

In [2]:
first_name = input("Enter Your first Name ")
Last_name = input("Enter Last Name ")
print(first_name + " " + Last_name)

Enter Your first Name Akhilesh
Enter Last Name Muchhala
Akhilesh Muchhala

In [3]:
first_name = input("Enter first name ")
print(first_name + "****")

Enter first name Akhilesh
Akhilesh****

In [4]:
a = int(input("Enter first Number "))
b = int(input("Enter second Number "))
c = int(input("Enter third Number "))
print(a+b+c)

Enter first Number 5
Enter second Number 4
Enter third Number 6
15

In [6]:
a = int(input("Enter first Number "))
b = int(input("Enter second Number "))
c = int(input("Enter third Number "))
print(a-b-c)

Enter first Number 54
Enter second Number 68
Enter third Number 75
-89

In [7]:
a = float(input("Enter first Number "))
b = float(input("Enter second Number "))
c = float(input("Enter third Number "))
print(a-b-c)

Enter first Number 5.3
Enter second Number 4.2
Enter third Number 2.3
-1.2000000000000002

# set 2

# 1

In [9]:
x = int(input("Enter first Number  "))
y = int(input("Enter second Number "))

print("x+y", x+y)
print("x-y", x-y)
print("x*y", x*y)
print("x/y", x/y)
print("x//y", x//y)
print("x%y", x%y)
print("x**y", x**y)

Enter first Number  5
Enter second Number 3
x+y 8
x-y 2
x*y 15
x/y 1.6666666666666667
x//y 1
x%y 2
x**y 125

# 2

In [10]:
x = float(input("Enter first Number  "))
y = float(input("Enter second Number "))

print("x+y", x+y)
print("x-y", x-y)
print("x*y", x*y)
print("x/y", x/y)
print("x//y", x//y)
print("x%y", x%y)
print("x**y", x**y)

Enter first Number  2.3
Enter second Number 5.3
x+y 7.6
x-y -3.0
x*y 12.19
x/y 0.43396226415094336
x//y 0.0
x%y 2.3
x**y 82.6337631255409

## 5

In [16]:
a = float(input("Enter length of Rect "))
a = float(input("Enter Breadth of Rect "))
if a==b:
    print("Is a Square")
else:
    print("Is not a Square")

Enter length of Rect 5.2
Enter Breadth of Rect 5.20
Is not a Square

# 6

In [17]:
a = int(input("Enter  first Number "))
b = int(input("Enter second Number "))
if a>b:
    print(a)
else:
    print(b)

Enter  first Number 5
Enter second Number 3
5

In [18]:
a = int(input("Enter Number "))

if a<25:
    print("F")
elif a>=25 and a<45:
    print("E")
elif a>=45 and a<50:
    print("D")
elif a>=50 and a<60:
    print("C")
elif a>=60 and a<80:
    print("B")
elif a>=80:
    print("A")

Ente Number 57
C

In [19]:
a = int(input("Enter Number of classes held "))
b = int(input("Enter Number of classes attended "))
c = b/a * 100
print(" percentage of class attended ", c)
if c >= 75:
    print("Yes Allowed")
else:
    print("Not Allowed")

Enter Number of classes held 25
Enter Number of classes attended 20
 percentage of class attended  80.0
Yes Allowed

# Set 3

# 1

In [ ]:
i=1
while i <= 10:
    print(i)
    i += 1

# 2

In [ ]:
for i in range(1,6):
    for j in range(1, i+1):
        print(j, end=" ")
    print('\n')

# 3

In [ ]:
for i in range(5):
    for j in range(5-i):
        print(j, end=" ")
    print('\n')

# 4

In [ ]:
a = int(input("Enter number "))
for i in range(1,11):
    print(i*a)

# 5

In [ ]:
a = -10
while a < 0 :
    print(a)
    a+=1

# 6

In [ ]:
#Fibonacci sequence:
a = 0
b = 1
c = 0
print("Fibonacci sequence: ")
print(a, end=" ")
print(b, end=" ")
for i in range(8):
    c = a + b
    a = b
    b = c
    print(c, end=" ")

# 7

In [ ]:
a = int(input("Enter Number "))
a = str(a)
a = a[::-1]
a = int(a)
print(a)